{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Table of contents</h1>

<ul>
  <li><a href="{{ url_for('tutorial_operators') }}">Percentage difference calculator</a></li>
</ul>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	laboris nisi ut aliquip ex ea commodo consequat.
</p>

<blockquote>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	laboris nisi ut aliquip ex ea commodo consequat.
</p>
</blockquote>

<p>
<u>	
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	laboris nisi ut aliquip ex ea commodo consequat.
</u>		
</p>

{% endblock %}